apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: simple-buy
data:
  init-dbs.sql: |
    -- Create databases for each microservice
    -- auth_db is created by default via POSTGRES_DB env var

    CREATE DATABASE product_db;
    CREATE DATABASE cart_db;
    CREATE DATABASE order_db;
    CREATE DATABASE notification_db;

    GRANT ALL PRIVILEGES ON DATABASE product_db TO simplebuy;
    GRANT ALL PRIVILEGES ON DATABASE cart_db TO simplebuy;
    GRANT ALL PRIVILEGES ON DATABASE order_db TO simplebuy;
    GRANT ALL PRIVILEGES ON DATABASE notification_db TO simplebuy;

    -- Grant schema permissions so the simplebuy user can create tables
    \c product_db
    GRANT ALL ON SCHEMA public TO simplebuy;

    \c cart_db
    GRANT ALL ON SCHEMA public TO simplebuy;

    \c order_db
    GRANT ALL ON SCHEMA public TO simplebuy;

    \c notification_db
    GRANT ALL ON SCHEMA public TO simplebuy;

    \c auth_db
    GRANT ALL ON SCHEMA public TO simplebuy;
